
/* mobile view */

@media (max-width:900px){

    /* begin-your-journey section */
    #main .begin-your-journey .left-text{
        margin-top: 0;
        text-align: center;
    }

    #main .begin-your-journey button{
        margin-top: 2rem;
        display: block;
        width: 100%;
        
    }

    #main .begin-your-journey .image-right{
        margin-top: 5rem;
       
    }

    #main .question-section .question-image{
        margin: 0 auto;
    }

    #main .question-section .left-questions{
        margin-top: 5rem;
        margin-left: 0;
    }

    /* horizontal bar */

    #main .problem-solving-section .horizontal-bar{
        margin-top: 0;
    }

    /* Software developer journey section */
    #main .software-journey p{
        text-align: center; 
    }

    #main .software-journey .center{
       text-align: center;
    }

    /* partners section */

    #main #partners .partners-logo {
        margin-top: 5rem;
    }



}

