
/* mobile view */

@media (max-width:900px){

    /* begin-your-journey section */
    #main .begin-your-journey .left-text{
        margin-top: 0;
        text-align: center;
    }

    #main .begin-your-journey h2{
        font-size: 35px;
        line-height: 1.5;
    }

    #main .begin-your-journey button{
        margin-top: 1rem;
        margin-left: 0;
        display: block;
        width: 100%;
        
    }

    #main .begin-your-journey .image-right{
        margin-top: 3rem;
       
    }

    #main .begin-your-journey .welcome-image{
        width: 100%;
    }

    #main .question-section .question-image{
        margin-top: 0 ;
        width: 100%;
    }

    #main .question-section .left-questions{
        margin-top: 3rem;
        margin-left: 0;
       
    }

    #main .question-section .side-bar {
        width: 6px;
        height: 65px;
        }

    #main .question-section .left-questions p{
        font-size: 16px;
    }

    /* horizontal bar */

    #main .problem-solving-section .horizontal-bar{
        margin-top: 0;
    }

    #main .problem-solving-section .problem-solving{
        margin-top: 3rem;
    }

    /* Software developer journey section */
    #main .software-journey p{
        text-align: center; 
    }

    #main .software-journey .soft-dev-image{
        width: 80%;
    }

    #main .software-journey .center{
       text-align: center;
       margin-bottom: 10rem;
    }

    /* partners section */

    #partners .partners-logo {
        margin-top: 5rem;
        width: 100%;
        
    }

    #partners .logos{
        width: 20%;
    }

    footer {
        padding: 0 10px;
    }

    #footer .contact-text{
        margin-top: 2rem;
        margin-left: 0;
    }

    #footer .white-text{
        margin-top: 1rem;
    }


    /* Journey so far page */
    #journey-so-far{
        padding-top: 1rem;
    }

    #journey-so-far .journey .journey-image{
        margin: 2rem auto 0;
    }

    #journey-so-far .journey p{
        font-size: 14px;
        font-family: montserrat;
    }

    #journey-so-far .journey img{
        width: 100%;
        text-align: center;
    }

    #journey-so-far #our-journey-scroll .heading{
        margin-top: 5rem;
    }

    #journey-so-far #our-numbers .card-btw {
        margin-bottom: 1rem;
    }

    /* Our story page */
    
    #our-story #story-header .story-image{
        margin-top: 2rem;
        width: 100%;
    }

    #our-story #story-header img{
        width: 100%;
    }

    #our-story #what-we-do .paragraph{
        margin-top: 2rem;
        text-align: center;
        font-size: 14px;
        width: 100%;
        margin-left: 0;
    }

    #our-story #milestones-section .milestones-text {
        font-size: 14px;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
    }

    #our-story #milestones-section .whatwedo-image{
        margin: 0 auto;
        width: 100%;
    }

    #our-story #milestones-section .whoweare-image{
        margin: 0 auto;
        width: 100%;
    }

    /* Partnerships page */
    #partnerships .partner-section{
        margin: 0;
        text-align: center;
        margin-bottom: 3rem;
    }

    #partnerships .partner-section .join-us{
        font-size: 24px;
    }

    #partnerships .partner-section .sponsor-text{
        font-size: 50px;
    }

    #partnerships .partner-section .sponsor-image{
        width: 90%;
        margin-top: 2rem;
    }

    #partnerships .why-partner-section{
        text-align: center;
    }
    #partnerships .why-partner-section .why-partner-image{
        width: 70%;
    }

    #partnerships .why-partner-text{
        margin-top: 4rem;
    }

    #partnerships .why-partner-text h5{
        font-size: 20px;
    }

    #partnerships .why-partner-text ul li{
        font-size: 13px;
        line-height: 2;
    }

    #partnerships .form-section h5{
        font-size: 16px;
    }

    #partnerships .form-section .form-inputs{
        width: 80%;
    }

    #partnerships .why-partner-text .fas{
        margin-left: 5px;
    }

    /* Volunteer page */

    #volunteer .volunteer-header{
        padding: 0;
        text-align: center;
    }

    #volunteer .volunteer-header .volunteer-text{
        margin-top: 5rem;
    }

    #volunteer .volunteer-header .volunteer-text p{
        font-size: 26px;
        font-weight: 400;
        text-align: left;
        margin-left: 10px;
    }

    #volunteer .volunteer-btn{
        width: 100%;
    }

    #volunteer button{
        margin: 0 auto;
    }

    #volunteer .volunteer-now img{
        width: 100%;
    }

    #volunteer .volunteer-now .volunteer-with-us-text {
        margin-top: 2rem;
        font-size: 40px;
    }

    #volunteer .volunteer-now .volunteer-image-section img{
        margin: 0 auto;
    }

    /* Tiidelab Communuity section */

    #tiidelab-community .community-header{
        padding: 0;/* text-align: center; */
    }

    #tiidelab-community  .community-text{
        width: 100%;
        margin-top: 5rem;
    }

    #tiidelab-community  .community-text h3{
        font-size: 22px;
    }

    #tiidelab-community  .community-text p{
        font-size: 16px;
        font-weight: 400;
        margin-top: 25px;
        text-align: center;

    }

    #tiidelab-community .news-letter{
        text-align: center;
        padding: 0;
    }

    #tiidelab-community .news-letter .newsletter-text  {
        width: 100%;
    }

    #tiidelab-community .news-letter .newsletter-text h5{
        font-size: 14px;
       
    }

    #tiidelab-community .news-letter .main{
        margin: 3rem auto;
        
    }

}

