
/* mobile view */

@media (max-width:900px){

    /* begin-your-journey section */
    #main .begin-your-journey .left-text{
        margin-top: 0;
        text-align: center;
    }

    #main .begin-your-journey h2{
        font-size: 35px;
        line-height: 1.5;
    }

    #main .begin-your-journey button{
        margin-top: 1rem;
        margin-left: 0;
        display: block;
        width: 100%;
        
    }

    #main .begin-your-journey .image-right{
        margin-top: 3rem;
       
    }

    #main .begin-your-journey .welcome-image{
        width: 100%;
    }

    #main .question-section .question-image{
        margin-top: 0 ;
        width: 100%;
    }

    #main .question-section .left-questions{
        margin-top: 3rem;
        margin-left: 0;
       
    }

    #main .question-section .side-bar {
        width: 6px;
        height: 65px;
        }

    #main .question-section .left-questions p{
        font-size: 16px;
    }

    /* horizontal bar */

    #main .problem-solving-section .horizontal-bar{
        margin-top: 0;
    }

    #main .problem-solving-section .problem-solving{
        margin-top: 3rem;
    }

    /* Software developer journey section */
    #main .software-journey p{
        text-align: center; 
    }

    #main .software-journey .soft-dev-image{
        width: 100%;
    }

    #main .software-journey .center{
       text-align: center;
       margin-bottom: 10rem;
    }

    /* partners section */

    #main #partners .partners-logo {
        margin-top: 5rem;
        width: 100%;
        
    }

    #main #partners .logos{
        width: 20%;
    }

    footer {
        padding: 0 10px;
    }

    #footer .contact-text{
        margin-top: 2rem;
        margin-left: 0;
    }

    #footer .white-text{
        margin-top: 1rem;
    }


    /* Journey so far page */
    #journey-so-far{
        padding-top: 1rem;
    }

    #journey-so-far .journey .journey-image{
        margin-top: 3rem;
        margin: 2rem auto 0;
    }

    #journey-so-far .journey img{
        width: 90%;
        text-align: center;
    }

    #journey-so-far #our-journey-scroll .heading{
        margin-top: 5rem;
    }

    #journey-so-far #our-numbers .card-btw {
        margin-bottom: 1rem;
    }

    /* Our story page */
    
    #our-story #story-header .story-image{
        margin-top: 2rem;
        width: 100%;
    }

    #our-story #story-header img{
        width: 100%;
    }

    #our-story #what-we-do .paragraph{
        margin-top: 2rem;
        text-align: center;
        font-size: 14px;
    }

    #our-story #milestones-section .milestones-text {
        font-size: 14px;
        margin-top: 0;
        text-align: center;
    }

    #our-story #milestones-section .whatwedo-image{
        margin: 0 auto;
        width: 100%;
    }

    #our-story #milestones-section .whoweare-image{
        margin: 0 auto;
        width: 100%;
    }

    #our-story #our-team .cards{
        text-align: center;
        margin: 0 auto;
    
    }

}

