@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x:hidden;

}
/* utility */
li, a, button,p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);;
}


header {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* position: fixed;
    width: 100%; */
    }

/* Navigation bar */
/* #navbarSupportedContent .navbar-nav li a{
    
} */

#sub-dropdown-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    margin-left: 186px;
    margin-top: -26px;
}

#sub-dropdown-menu a, .dropdown-menu a{
    color: #000 !important;

}
.dropdown:hover .dropdown-menu{display: block; transform: all 0.5s ease-in-out;}

#sub-dropdown:hover #sub-dropdown-menu{display: block;}


 .logo {
    cursor: pointer;
}

.nav-links ul {
    display: inline-flex;
    list-style: none;
}

.nav-links ul li {
    padding: 15px;
    margin: 15px;
}

.nav-links ul li a {
    transition: all 0.5s ease 0s;
}

.nav-links ul li a:hover {
    color: #3173c1;
}


/* Dropdown-menu */
.sub-menu-1{
    display: none;
}

.nav-links ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #333;
    margin-top: 20px;
    margin-left: -15px;
}

.nav-links ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.nav-links ul li:hover .sub-menu-1 ul li{
    width: 200px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
   
    text-align: left;
}

.nav-links ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
#btn {
    margin-left: 8em;
    width: 20em;
    background-color: #E1341E;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #E1341E;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    

}

button:hover{
    background-color: #4375a1;
    outline: none;
} 

/* Begin your journey section */

#main .begin-your-journey {
    margin: 4rem 0;

}

#main .left-text {
    margin-top: 5rem;
}

#main .begin-your-journey h2{
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    color: #3173C1;
}

#main .divider {
height: 20px;
/* left: -207px; */
/* top: 617px; */
background: linear-gradient(180deg, rgba(49, 115, 193, 0.84) 6.25%, rgba(150, 189, 234, 0.87) 100%);
}

/* Question section */
#main .question-section .question-image{
    margin-top: 0;
}

#main .question-section .align-text{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: end;
    border-radius: 10px;
    background: #f0f0f0;
}
.align-text > p {
    font-size: 22px;
}
#main .question-section .side-bar {
width: 8px;
height: 80px;
top: 0;
background: #E1341E;
border-radius: 20px 0px 0px 20px;
}

#main .question-section p{
    padding: 0 10px;

    
}
#main .question-section .questions{
    margin-top: 5rem;
}

/* horizontal bar */

#main .problem-solving{
    margin-top: 5em;
}
#main .horizontal-bar{
    margin-top: 10em;
}

/* Software developer journey section */

#main .software-journey p{
    margin-top: 2rem;
    text-align: center;
    font-family: montserrat;
    font-size: 16px;
}

#main .software-journey .soft-dev-image{
    width: 90%;
    padding-top: -20em;
}

/* call to action */
.cta-image{
    height: 255px;
    background-image: url("../Assets/cta.png");
    background-blend-mode: luminosity;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#main .cta-image .button{
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* partners we work with */

 #partners{
    background-color: #eee;
    padding: 80px 0;
}

 #partners .align-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

 #partners p{
    font-family: montserrat;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

 #partners .partners-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

#partners .partners-logo .logos{
    margin: 0 2rem;
}

 #partners .align-text .side-bar{
    width: 1%;
    height: 6vh;
    background: #3173c1;
    border-radius: 20px 0 0 20px;
}

/* Partners testimonials */
.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    font-weight: bolder;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

/* footer section */

footer{
    width: 100%;
    padding: 25px 25px 10px 25px;
    background: linear-gradient(358.73deg, rgba(3, 31, 65, 0) -19.91%, #042348 2.98%, #04244A 92.19%)
}

footer .scrolll {
    display: flex;
    justify-content: flex-end;
    padding: 16px
  }
  
#footer .contact-text{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;

}
#footer .white-text{
    color: #fff;
    font-size: 20px;
}

#footer .icons {
    margin-top: 5px;
}

#footer .fab{
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

#footer .fab:hover {
    color: #3173C1;
}

#footer .footer-logo{
    margin-top: 5px;
    width: 150px;
}

#footer ul {
    padding: 0;
}

#footer ul li{
    line-height: 1.5;
    list-style: none;
}

#footer ul li a{
    color: #fff;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.5px;
}

#footer ul li a:hover{
    color: #3173C1;
}

#footer p{
    font-size: 9px;
}


/* Journey so far page */

#journey-so-far{
    padding-top: 4rem;

}

#journey-so-far .journey p{
    margin-top: 5vh;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 200;
    line-height: 3;
    text-align: left;
  
}

#journey-so-far .journey-image{
    margin-left: 5rem;
}
#journey-so-far #our-journey-scroll {
    padding: 2rem 0;
}

#journey-so-far #our-journey-scroll h4{
    font-family: montserrat;
    font-size: 28px;
    font-weight: 400;
    color: #3173C1;
    
}

#journey-so-far #our-journey-scroll .heading{
   margin-bottom: 3rem;
}

#journey-so-far #our-journey-scroll .image-gallery .img-1{
    width: 50%;
}

#journey-so-far #our-journey-scroll .image-gallery .img-2{
    width: 60%;
    margin: -30px 0 0 100px;
}

#journey-so-far #our-journey-scroll .image-gallery .img-3{
    width: 60%;
    margin: -60px 0 0 0;
}

#journey-so-far #our-journey-scroll .flex-numbers-1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* border: 1px solid blue; */
    padding: 2rem;
}

#journey-so-far #our-journey-scroll .flex-numbers-2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* border: 1px solid blue; */
    padding: 2rem;
}

#journey-so-far #our-journey-scroll .flex-numbers-1 .our-numbers p{
    margin: 1rem 0 0 1.6rem;

}
#journey-so-far #our-journey-scroll .flex-numbers-1 .our-numbers h1{
    margin: 1rem 0 0 1.5rem;
}

#journey-so-far #our-journey-scroll .flex-numbers-2 .our-numbers p{
    margin: 1rem 0 0 1.6rem;
}
#journey-so-far #our-journey-scroll .flex-numbers-2 .our-numbers h1{
    margin: 1rem 0 0 1.5rem;
}

#journey-so-far #our-journey-scroll .our-numbers {
    width: 100%; 
}

#journey-so-far #slider{
    margin: 2rem 0;
    padding: 1rem 0;
    text-align: center;
}

#journey-so-far .my-slider{
    padding: 2rem 0;
}

/* Our story section */
#our-story #story-header img{
    width: 100%;
}

#our-story #what-we-do .paragraph{
    padding: 0 10px;
    font-family: montserrat;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    margin-top: -90px;
    margin-left: 5rem;
    margin-right: 5rem;
}

#our-story #milestones-section .bg-color{
    background-color: #EBEBEB;
    margin-top: 2rem;
    padding: 30px;
}

#our-story #milestones-section .milestones-text{
    /* text-align: center; */
    margin-left: 5rem;
}

#our-story #milestones-section p{
    /* margin-top: 0; */
    font-family: montserrat;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
}

#our-story #milestones-section .whatwedo-image{
    margin-left: 12rem;
    width: 50%;
}

#our-story #milestones-section .whoweare-image{
    margin-left: 12rem;
    width: 50%;
}

#our-story #our-team .text-caption{
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    color: #3173C1;
    text-transform: uppercase;
    margin-top: 2rem;
    
}

#our-story #our-team h6{
    text-align: center
}


#our-story #our-team p{
    text-align: center;
}

#our-story #our-team .social-icons{
    display: flex;
    justify-content: center;
}

#our-story #our-team .fab{
    color: #3173c1;
    padding: 0 10px;
    
}

/* Partnerships section */
#partnerships .partner-section{
    margin: 5rem 0;
    padding: 2rem 0;
}

#partnerships .join-us{
    color: #3173C1;
    margin-top: 3rem;
    font-family: "poppins";
    font-size: 30px;
    
    
}
#partnerships .sponsor-text{
    margin-bottom: 2rem;
}
#partnerships .sponsor-text h3{
    font-family: "poppins";
    font-size: 45px;
    font-weight: 400;
    color: #3173c1;
}

#partnerships .sponsor-text h1{
    font-family: "poppins";
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #E1341E;
}
.sweet-confirm {
    background: #3173c1;

}
#partnerships .paragraph p{
    font-family: "montserrat";
    font-size: 20px;
    
}

#partnerships .sponsor-image{
    /* margin: 0 auto; */
    margin-left: 5rem;
}


#partnerships .why-partner-section {
    background: #3173c1;
    padding: 2rem 0;
}

#partnerships .why-partner-image{
    width: 80%;
}

#partnerships .why-partner-text h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #fff;
}

#partnerships .why-partner-text ul {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
}

#partnerships .why-partner-text ul li{
    font-family: Montserrat;
    font-size: 18px;
    color: #eee;
    line-height: 2;

}

#partnerships .why-partner-text .fas{
    margin-left: 1rem;
}

#partnerships .form-heading-text{
    text-align: center;
    margin-bottom: 2rem;
}

#partnerships .form-section{
    padding: 3rem 0;
}

#partnerships .form-heading-text h5{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
}

#partnerships .form-inputs{
    width: 40%;
    margin: 0 auto;
}

#partnerships .form-section .send-btn{
    padding: 10px 40px;
}

/* Tiidelab community section */

#tiidelab-community .community-header{
    height: 594px;
    width: 100%;
    background: url("../Assets/tiidelab-community-header.png");
    padding: 50px 100px;
    text-align: center;
}

#tiidelab-community .community-text{
    width: 50%;
    margin: 50px auto;
       
}

#tiidelab-community .community-text h3{
    font-family: montserrat;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
}

#tiidelab-community .community-text p{
    color: #fff;
    margin-bottom: 30px;
    font-family: montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
}

#tiidelab-community .community-header button{
    background: #E1341E;
    color: #fff;
}

#tiidelab-community .what-we-are-about{
    padding: 50px 0;
    text-align: center;
}

#tiidelab-community .our-community{
    color: #3173c1;
}

#tiidelab-community .news-letter {
    background: #F0F0F0;
    padding: 4em 12em;
}

#tiidelab-community .news-letter .newsletter-text{
    margin-top: 2rem;
}

#tiidelab-community .news-letter h5{
    font-family: montserrat;
    color: #3173c1;
}

#tiidelab-community .news-letter-signup-btn{
    margin-top: 2rem;
}

#tiidelab-community .news-letter .newsletter-image{
    margin: 2rem 0 2rem 13rem;
    
}

/* Volunteer with us */

#volunteer .volunteer-header{
    height: 596px;
    background-image: url('../Assets/volunteer-header.png');
    padding: 100px 100px;
}

#volunteer .volunteer-text {
    width: 50%;
    margin: 50px auto;
}

#volunteer .volunteer-text p{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

#volunteer .volunteer-btn{
    width: 15%;
    margin: 0 auto;
   
}

#volunteer .volunteer-btn button{
    background: #E1341E;
    color: #fff;
}

#volunteer .volunteer-now{
    padding: 2rem ;
}

#volunteer .volunteer-now p{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    /* text-align: right; */
}

#volunteer .volunteer-now .volunteer-image-section img{
    margin-left: 10rem;
}

#volunteer .volunteer-now .volunteer-image-section-2 .image-2{
    margin-top: -4rem;
}

/* Apply Now */

#apply-now {
    padding: 3rem 0;
}

#apply-now .apply-text p{
    font-family: montserrat;
    font-size: 18px;
    line-height: 2;
}


/* Meet with fellows section */

#meet-with-fellows h4 {
    font-family: montserrat;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin: 3rem 0;
}

#meet-with-fellows #fellow-profiles .box{
    /* border: 1px solid red; */
    width: 100%;
    height: 30vh;
}

#meet-with-fellows #fellow-profiles .box .social-i{
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    left: 15rem;
    top: -11rem;
    bottom: 0;
}

#meet-with-fellows #fellow-profiles .fab{
    color: #3173C1;
    padding-bottom: 12px;
    font-size: 20px;
}
.testimonial{
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #77a9dd;
    position: relative;
}
.testimonial .pic{
    width: 120px;
    height: 120px;
    border: 5px solid #77a9dd;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}
.testimonial .testimonial-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #77a9dd;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial .title{
    display: inline-block;
    font-size: 18px;
    color: #4a5184;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 10px;
}
.owl-theme .owl-controls .owl-page span{
    background: #5e5f5f;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #77a9dd;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 22px;
    height: 12px;
}
.center-b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    line-height: 2rem;
    font-size: 36px;
    color: #081b3a;
    font-weight: 700;
    padding: 32px 0px 2px 0px;
}
.subheading{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#585967;
    padding-bottom:10px;
}
#testimonial-slider .social-i{
    display: inline;
}
#testimonial-slider .social-i a{
    font-size: 20px;
    padding: 0px 10px;
}