@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* utility */
li, a, button,p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
} */

/* Navigation bar */
 .logo {
    cursor: pointer;
}

.nav-links ul {
    display: inline-flex;
    list-style: none;
}

.nav-links ul li {
    padding: 15px;
    margin: 15px;
}

.nav-links ul li a {
    transition: all 0.5s ease 0s;
}

.nav-links ul li a:hover {
    color: #3173c1;
}



/* Dropdown-menu */
.sub-menu-1{
    display: none;
}

.nav-links ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #333;
    margin-top: 20px;
    margin-left: -15px;
}

.nav-links ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.nav-links ul li:hover .sub-menu-1 ul li{
    width: 200px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
   
    text-align: left;
}

.nav-links ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
#btn {
    margin-left: 8em;
    width: 20em;
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #3173c1;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;

}

button:hover{
    background-color: #4375a1;
} 

/* Begin your journey section */

#main .begin-your-journey {
    margin: 5rem 0;

}

#main .left-text {
    margin-top: 5rem;
}

#main .begin-your-journey h2{
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    color: #3173C1;
}

#main .divider {
height: 200px;
/* left: -207px; */
/* top: 617px; */
background: linear-gradient(180deg, rgba(49, 115, 193, 0.84) 6.25%, rgba(150, 189, 234, 0.87) 100%);
}

/* Question section */
#main .question-section .question-image{
    margin-top: 5rem;
}

#main .question-section .align-text{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: end;
}

#main .question-section .side-bar {
width: 5px;
height: 50px;
top: 0;
background: #3173C1;
border-radius: 20px 0px 0px 0px;
}

#main .question-section p{
    padding: 0 10px;

    
}
#main .question-section .questions{
    margin-top: 5rem;
}

/* horizontal bar */

#main .problem-solving{
    margin-top: 5em;
}
#main .horizontal-bar{
    margin-top: 10em;
}


/* Software developer journey section */
#main .software-journey p{
    margin-top: 2rem;
    text-align: center;
    font-family: montserrat;
    font-size: 16px;
}

#main .software-journey .soft-dev-image{
    width: 90%;
}


/* call to action */
.cta-image{
    height: 255px;
    background-image: url("../../Assets/cta.png");
    background-blend-mode: luminosity;
    width: 100%;
}

#main .cta-image .button{
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* partners we work with */

#main #partners{
    background-color: #eee;
    padding: 80px 0;
}

#main #partners .align-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main #partners p{
    font-family: montserrat;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

#main #partners .partners-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

#main #partners .align-text .side-bar{
    width: 1%;
    height: 6vh;
    background: #3173c1;
    border-radius: 20px 0 0 20px;
}

/* footer section */

footer{
    width: 100%;
    padding: 30px;
    background: linear-gradient(358.73deg, rgba(3, 31, 65, 0) -19.91%, #042348 2.98%, #04244A 92.19%)
}
#footer .contact-text{
    color: #fff;
    margin-top: 5em;
    margin-left: 10px;
    
}
#footer .white-text{
    color: #fff;
    font-size: 20px;
}

#footer .icons {
    margin-top: 20px;
}

#footer .fab{
    margin:10px;
    color: #fff;
    cursor: pointer;
}

#footer .fab:hover {
    color: #3173C1;
}

#footer .footer-logo{
    margin-top: 2em;
}

#footer ul {
    padding: 0;
}

#footer ul li{
    line-height: 2;
    list-style: none;
}

#footer ul li a{
    color: #fff;
}

#footer ul li a:hover{
    color: #3173C1;
}


/* Journey so far page */

#journey-so-far{
    padding-top: 5rem;
}

#journey-so-far .journey p{
    margin-top: 5vh;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 200;
    line-height: 2;
    text-align: left;
  
}

#journey-so-far .journey-image{
    margin-left: 5rem;
}
#journey-so-far #our-journey-scroll {
    padding: 5rem 0;
}

#journey-so-far #our-journey-scroll h4{
    font-family: poppins;
    font-size: 60px;
    font-weight: 700;
    color: #3173C1;
    line-height: 1.5;
    text-align: left;
    
}

#journey-so-far #our-journey-scroll .image-slide{
    border-radius: 20px 0 20px 0;
    /* width: 100%; */
}

/* #journey-so-far #our-journey-scroll .slider{
    background: url("../Assets/neca-trip.jpg");
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 400px;
    margin: 100px 0;
    animation: slide 10s infinite;
}

@keyframes slide{
   
    50% {
        background: url("../Assets/class-session.jpg");
        
    }
    100% {
        background: url("../Assets/remote.jpg");
       
    }
} */

#journey-so-far #our-numbers {
    background: #3173c1;
    padding: 5rem;
}


/* Our story section */
#our-story #story-header img{
    width: 100%;
}

#our-story #what-we-do .paragraph{
    padding: 0 10px;
    font-family: montserrat;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}


#our-story #milestones-section .bg-color{
    background-color: #EBEBEB;
    margin-top: 5em;
    padding: 30px;
}

#our-story #milestones-section p{
    margin-top: 5rem;
    font-family: montserrat;
    font-size: 16px;
    line-height: 2;
}

#our-story #milestones-section .whatwedo-image{
    margin-left: 10rem;
}


#our-story #milestones-section .whoweare-image{
    margin-left: 10rem;
}


#our-story #our-team .text-caption{
    text-align: center;
    font-family: "Montserrat";
    font-weight: 900;
    margin-bottom: 5rem;
}

#our-story #our-team h6{
    text-align: center
}


#our-story #our-team p{
    text-align: center;
}

#our-story #our-team .social-icons{
    display: flex;
    justify-content: center;
}

#our-story #our-team .fab{
    color: #3173c1;
    padding: 0 10px;
    
}

/* Partnerships section */
#partnerships .partner-section{
    padding: 80px 10px;
}

#partnerships .join-us{
    color: #3173C1;
    margin-top: 3rem;
    font-family: "poppins";
    font-size: 30px;
    
    
}
#partnerships .sponsor-text{
    font-family: "poppins";
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}



#partnerships .why-partner-section {
    background: #3173c1;
    padding: 100px 0;
}

#partnerships .partners{
    background-color: #eee;
    padding: 50px 0;

}

#partnerships .partner-logo{
    margin-left: 5em;
}

#partnerships .why-partner-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
}

#partnerships .form-heading-text{
    text-align: center;
    padding: 20px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

#partnerships .form-section{
    padding: 100px 0;
}

#partnerships .form-inputs{
    width: 40%;
    margin: 0 auto;
}

#partnerships .form-section .send-btn{
    padding: 10px 40px;
}

/* Tiidelab community section */

#tiidelab-community .community-header{
    height: 594px;
    width: 100%;
    background: url("../Assets/tiidelab-community-header.png");
    padding: 100px 100px;
}

#tiidelab-community .what-we-are-about{
    padding: 100px 0;
}

#tiidelab-community .our-community{
    color: #3173c1;
}

#tiidelab-community .community-text{
    width: 50%;    
}

#tiidelab-community .community-text h3{
    font-family: montserrat;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
}

#tiidelab-community .community-text p{
    color: #fff;
    margin-bottom: 30px;
    font-family: montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
}

#tiidelab-community .news-letter {
    background: #F0F0F0;
    padding: 30px;
}

#tiidelab-community .news-letter .newsletter-text{
    margin-top: 2rem;
}

#tiidelab-community .news-letter h5{
    font-family: montserrat;
    color: #3173c1;
}

#tiidelab-community .news-letter form{
    width: 50%;

}

#tiidelab-community .news-letter-signup-btn{
    margin-top: 3rem;
}


#tiidelab-community .news-letter .newsletter-image{
    margin-left: 15rem;
    
}

/* Volunteer with us */

#volunteer .volunteer-header{
    height: 596px;
    background-image: url('../Assets/volunteer-header.png');
    padding: 100px 100px;
}

#volunteer .volunteer-text {
    width: 50%;
    
    /* height: 50vh; */
    margin: 50px auto;
}

#volunteer .volunteer-text p{
    /* width: 30px; */

    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

#volunteer .volunteer-btn{
    width: 15%;
    margin: 0 auto;
   
}

#volunteer .volunteer-now{
    padding: 100px;
}

#volunteer .volunteer-now p{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 1;
    text-align: right;
}



/* #volunteer .volunteer-btn button{
    margin: 0 auto;
    margin-left: 40%;
    border: 1px solid red;
} */

/* Apply Now */

#apply-now {
    padding: 8rem 0;
}

#apply-now .apply-text p{
    /* padding-left: 5em; */
    /* margin-top: 5rem; */
    font-family: montserrat;
    font-size: 18px;
    line-height: 2;
}

/* Meet with fellows section */

#meet-with-fellows h4 {
    font-family: montserrat;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin: 3rem 0;
}
